@import url("../../../public/assets/fonts/fonts.css");

.button_basic {
	background-color: white;
	border: none;
	margin: 0 auto;
	padding: auto;
	font-family: 'pret-semibold';
	font-size: large;
	cursor: pointer;
}

.button_basic_black {
	background-color: black;
	color:white;
	border: none;
	font-family: 'pret-semibold';
	font-size: large;
	cursor: pointer;
	width: 100%;
	height: 10%;
}

.button_signin {
	background-color: black;
	border: 1px solid black;
	color: white;
	margin: 0 auto;
	padding: auto;
	font-family: 'pret-semibold';
	font-size: x-large;
	cursor: pointer;
	width: 52%;
	height: 13%;
}

.button_signup {
	background-color: black;
	border: 1px solid black;
	color: white;
	margin: 0 auto;
	padding: auto;
	font-family: 'pret-semibold';
	font-size: x-large;
	cursor: pointer;
	width: 52%;
	height: 50px;
}

.button_edit{
	background-color: white;
	border: 1px solid black;
	color: black;
	font-family: 'pret-semibold';
	font-size: medium;
	cursor: pointer;
	width: 10%;
	height: 100%;
	margin-right: 1%;
	margin-top: 1%;
}

.button_delete{
	background-color: #CC344E;
	border: 1px solid black;
	color: white;
	font-family: 'pret-semibold';
	font-size: medium;
	cursor: pointer;
	width: 10%;
	height: 100%;
	margin-top: 1%;
}

.button_primary {
	background-color: #012D7F;
	border: 1px solid #012D7F;
	color: white;
	font-size: medium;
	cursor: pointer;
	width: 20%;
	height: 100%;
	margin-right: 3%;
}

.button_paper_delete{
	background-color: #CC344E;
	border: 1px solid #CC344E;
	color: white;
	font-size: medium;
	cursor: pointer;
	width: 50%;
	height: 20%;
}

.button_search_member {
	background-color: #012D7F;
	border: 1px solid #012D7F;
	color: white;
	font-size: medium;
	cursor: pointer;
	width: 15%;
	height: 70%;
	margin-left: 1%;
}

.button_paper_edit {
	background-color: #CC344E;
	border : 1px solid #CC344E;
	color: white;
	font-size: medium;
	cursor: pointer;
	width: 20%;
	height: 100%;
}

.button_comment {
	background-color: #012D7F;
	border: 1px solid #012D7F;
	color: white;
	font-size: medium;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.button_logout{
	background-color: #CC344E;
	border: 1px solid #CC344E;
	color: white;
	font-family: 'pret-semibold';
	font-size: medium;
	cursor: pointer;
	height: 100%;
	margin-top: 1%;
}

.button_topdf{
	background-color: #012D7F;
	border: 1px solid #012D7F;
	color: white;
	font-family: 'pret-semibold';
	font-size: medium;
	cursor: pointer;
	height: 100%;
	width: 100%;
	margin-top: 1%;
}

.button_modify {
	font-family: 'pret-semibold';
	background-color: #012D7F;
	border: 1px solid #012D7F;
	color: white;
	font-size: medium;
	cursor: pointer;
	width: 100%;
	height: 50%;
}