@import url("../../../public/assets/fonts/fonts.css");

.button_basic {
	background-color: white;
	border: none;
	margin: 0 auto;
	padding: auto;
	font-family: 'pret-semibold';
	font-size: large;
	cursor: pointer;
}

.button_basic_black {
	background-color: black;
	color:white;
	border: none;
	font-family: 'pret-semibold';
	font-size: large;
	cursor: pointer;
	width: 100%;
	height: 10%;
}

.button_signin {
	background-color: black;
	border: 1px solid black;
	color: white;
	margin: 0 auto;
	padding: auto;
	font-family: 'pret-semibold';
	font-size: x-large;
	cursor: pointer;
	width: 52%;
	height: 13%;
}

.button_signup {
	background-color: black;
	border: 1px solid black;
	color: white;
	margin: 0 auto;
	padding: auto;
	font-family: 'pret-semibold';
	font-size: x-large;
	cursor: pointer;
	width: 52%;
	height: 13%;
}