@import url("../../../public/assets/fonts/fonts.css");

.register_pg_box{
	background-color: white;
	border:1px solid black;
	width: 40%;
	height: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "pret-thin";
}

.register_pg_theme_wrapper{
	font-family: "pret-thin";
	font-size: xx-large;
	margin-bottom: 5%;
}