@import url("../../../public/assets/fonts/fonts.css");

.main_wrapper {
	font-family: "pret-light";
	background-color: aqua;
	height: 100%;
	display:flex;
	justify-content: center;
}

.main_board_wrapper{
	background-color: white;
	height: 95%;
	width: 50%;
	border: 1px solid black;
	display:flex;
	flex-flow: column;
}