@import url("../../../public/assets/fonts/fonts.css");

.board_wrapper{
	font-family: "pret-light";
	background-color: white;
	height:100%;
	display:flex;
	justify-content: center;
}

.board_contents_wrapper{
	height:95%;
	width: 60%;
	border:1px solid black;
	display:flex;
	justify-content: center;
	flex-flow: column;
}

.board_header{
	height: 7%;
	border-bottom: 1px solid lightgray;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.board_contents{
	background-color: gray;
	height:100%;
	overflow: auto;
}

.board_write{
	font-family: "pret-medium";
	margin-right: 1%;
}