body{
	margin: 0;
	background-color: white;
	/* overflow: hidden; */
}

/* ::-webkit-scrollbar{
	display: none;
} */

.canvas_class{
	width: 75%;
	height:100%;
	/* background-color: white; */
	margin: 0 auto;
	display:grid;
	grid-template-rows: 100px calc(100vh - 200px) 100px;
	/* display:flex; */
	/* flex-flow: column; */
}