body {
	margin: 0;
	background-color: black;
	/* overflow: hidden; */
}

.canvas_class{
	width: 75%;
	height: 100vh;
	background-color: aliceblue;
	margin: 0 auto;
	display:flex;
	flex-flow: column;
}